<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avon.spott">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".Utils.App"
        android:theme="@style/AppTheme">


        <activity android:name=".AddPhoto.AddPhotoActivity"
            android:windowSoftInputMode="adjustResize" ></activity>
        <activity android:name=".EditPWActivity"></activity>
        <activity android:name=".EditNicknameActivity"></activity>

        <activity
            android:name=".Camera.CameraActivity"
            android:theme="@style/NoStatusbar"></activity>

        <activity android:name=".EditMyinfo.EditMyInfoActivity"></activity>
        <activity android:name=".Main.MainActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".EmailLogin.EmailLoginActivity"></activity>
        <activity android:name=".FindPW.FindPWActivity"></activity>
        <activity android:name=".Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Nickname.NicknameActivity"></activity>
        <activity android:name=".Password.PasswordActivity"></activity>
        <activity android:name=".Email.EmailActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_geo_key" />

    </application>

</manifest>