<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avon.spott">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewPassword.NewPasswordActivity"></activity>
        <activity
            android:name=".Camera.CameraXActivity"
            android:clearTaskOnLaunch="true"
            android:rotationAnimation="seamless"
            android:screenOrientation="fullUser">

            <!-- Register as a system camera app -->
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <action android:name="android.media.action.VIDEO_CAMERA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- App links for http/s -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="com.avon.spott" />
                <data android:pathPattern="/camerax" />
            </intent-filter>

            <!-- Declare notch support -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name=".PhotoEnlargementActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AddPhoto.AddPhotoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".EditPWActivity" />
        <activity android:name=".EditNicknameActivity" />
        <activity
            android:name=".Camera.CameraActivity"
            android:theme="@style/NoStatusbar" />
        <activity android:name=".EditMyinfo.EditMyInfoActivity" />
        <activity
            android:name=".Main.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".EmailLogin.EmailLoginActivity" />
        <activity android:name=".FindPW.FindPWActivity" />
        <activity android:name=".Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Nickname.NicknameActivity" />
        <activity android:name=".Password.PasswordActivity" />
        <activity android:name=".Email.EmailActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_geo_key" />
    </application>

</manifest>